@model PPOK.Domain.Models.EventsModel

@{
    ViewBag.Title = "ResendEvents";
}

<h2>AllEvents</h2>

@if (Model != null)
{
    <table class="table table-striped table-responsive" id="myTable">
        <thead>
            <tr>
                <th>
                    Patient Name
                </th>
                <th>
                    Drug Name
                </th>
                <th>
                    Refills Left
                </th>
                <th>
                    Refill
                </th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var prescription in Model.Prescriptions)
            {
                <tr>
                    <td id="name">
                        @prescription.Patient.Name
                    </td>
                    <td id="isAdmin">
                        @prescription.Drug.Name
                    </td>
                    <td id="isActive">
                        @prescription.Refills
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="window.singleEvent.refill(@prescription.Code)">
                            Refill
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<!-- Modal -->
<div class="modal fade" id="ResendModal" tabindex="-1" role="dialog"
     aria-labelledby="ResendModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" action="/ResendEvents/resendevents" method="POST">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Resend Event
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <input type="hidden" name="Code" id="Code" />
                    <p>Are you sure you want to resend this event?</p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/DataTables/datatables.min.js?Build=@Guid.NewGuid().ToString()"></script>
    <script src="~/Content/DataTables/AutoFill-2.1.3/js/dataTables.autoFill.min.js?Build=@Guid.NewGuid().ToString()"></script>
    <script src="~/PageScripts/SingleEvent.js"></script>
}

@section inlineScript{
    <script type="text/javascript">

        $(document).ready(function () {
            window.singleEvent.init();
        })

    </script>
}
