
@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "upload_form", enctype = "multipart/form-data" }))
{
    <input class="filestyle" data-buttonText="Upload" name="file" type="file" accept="text/csv" required="required" />
    <p>This file must be a .CSV containing PersonCode, PatientFirstName, PatientLastName, DOB, PatientZipCode, Phone, and Email columns.</p>
    <input type="submit" />
}

<div id="upload_results" style="display:none;">
</div>

<input id="output" type="text" />


@section scripts {
    @Scripts.Render("~/Scripts/FileUploadModule.js?Build=@Guid.NewGuid().ToString()")
}

@section inlineScript {
    <script>
        //$("input[type='file']").filestyle();//to change the text of the file button to "Upload"

        var callback = function (responseData) {
            console.log(responseData);
            var responseHtml = $(responseData);
            $('#upload_results').html(responseData);
            $('#upload_results').show();
        }

        $(document).ready(function () {
            window.FileUploadModule.init('upload_form', callback);
        });
    </script>
     
}