
@{
    ViewBag.Title = "Admins";
}
@section additionalCSS{
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/defaultLayout.css" rel="stylesheet" />
}
<h1>All System Admins</h1>
<div class="datatablesCustomBack">
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{

    <script src="~/Content/DataTables/datatables.min.js"></script>
    <script src="~/PageScripts/SysAdAdmin.js?Build=@Guid.NewGuid().ToString()"></script>
}
@section inlineScript{
    <script type="text/javascript">
        console.log("getting ready to load js");
        $(document).ready(function () {
            window.SysAdAdmin.init();
        });
    </script>
}