
@{
    ViewBag.Title = "Admins";
}
@section additionalCSS{
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/defaultLayout.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-10 col-xs-8">
        <h1>All System Admins</h1>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-primary" onclick="window.SysAdAdmin.add()" style="transform: translateY(50%);">Add System Admin</button>
    </div>
</div>
<div class="datatablesCustomBack">
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{

    <script src="~/Content/DataTables/datatables.min.js"></script>
    <script src="~/PageScripts/SysAdAdmin.js?Build=@Guid.NewGuid().ToString()"></script>
}
@section inlineScript{
    <script type="text/javascript">
        console.log("getting ready to load js");
        $(document).ready(function () {
            window.SysAdAdmin.init();
        });
    </script>
}
