
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 col-xs-12 login">
            <div>
                @if(ViewBag.Error != null)
                {
                    <p class="alert">
                        @ViewBag.Error
                    </p>
                }
            </div>
            <form action="/Account/ForgotPassword" method="post">
                <h4>Enter your email. We will text you a token to reset your password.</h4>
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" aria-describedby="username-addon" required>
                </div>
                <div class="row">
                    <div class="col-xs-9"></div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-default">Send Token</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>