@{
    ViewBag.Title = "Logon";
}

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 col-xs-12 login">
            <div>
                @if (ViewBag.Error != null)
                {
                    <p class="alert">
                        @ViewBag.Error
                    </p>
                }
            </div>
            <form action="/Account/Login" method="post">
                <h4>Enter your email to log in</h4>
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span>
                    <input type="text" class="form-control" name="username" placeholder="Username" aria-describedby="username-addon">
                </div>
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                    </span>
                    <input type="password" class="form-control" name="password" placeholder="Password" aria-describedby="password-addon">
                </div>
                <input type="text" class="form-control" name="ReturnUrl" style="display:none;" value="@Request.Params.Get("ReturnUrl")">
                <div class="row">
                    <div class="col-xs-3">
                        @Html.ActionLink("Forgot password?", "ForgotPassword", "Account")
                    </div>
                    <div class="col-xs-7"></div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

