@Model PPOK.Domain.Models.LoginModel

@{
    ViewBag.Title = "Logon";
}

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 col-xs-12 login">
            <form action="/Account/Login" method="post">
                <select class="form-control">
                    @foreach (var pharmacy in Model.pharmacyList)
                    {
                        <option value=@pharmacy.Code>@pharmacy.Name</option>
                    }
                    <option value="1">Pharmacy</option>
                </select>
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span>
                    <input type="text" class="form-control" name="username" placeholder="Username" aria-describedby="username-addon">
                </div>
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                    </span>
                    <input type="password" class="form-control" name="password" placeholder="Password" aria-describedby="password-addon">
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        @Html.ActionLink("Admin Login", "Index")
                    </div>
                    <div class="col-xs-7"></div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

