@{
    ViewBag.Title = "Patient";
}

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 col-xs-12 login">
            <div>
                @if(ViewBag.Error != null)
                {
                    <p class="alert">
                        @ViewBag.Error
                    </p>
                }
            </div>
            <h1 class="smallResizeText">Patient Log-In</h1>
            <h4 style="text-align: center" class="LargeResizeText">
                Entering your phone number will send a token to your phone. <br />
                Use this code to log in and change how your pharmacy contacts you.
            </h4>
            <br />

            <form action="/Account/SendCode" method="post">
                <label for="phone">We will send a token to the phone number we have on record. Please enter that token on the next page.</label>
                <div class="row">
                    <div class="col-xs-3 phone">
                        <div class="input-group login-input">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                            </span>
                            <input type="tel" id="phone" class="form-control" name="area" size="3" maxlength="3" placeholder="" aria-describedby="username-addon" required>
                        </div>
                    </div>
                    <div class="col-xs-3 phone">
                        <div class="input-group login-input">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </span>
                            <input type="tel" id="prefix" class="form-control" name="prefix" size="3" maxlength="3" placeholder="" aria-describedby="username-addon" required>
                        </div>
                    </div>
                    <div class="col-xs-4 phone">
                        <div class="input-group login-input">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </span>
                            <input type="tel" id="number" class="form-control" name="number" size="4" maxlength="4" placeholder="" aria-describedby="username-addon" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9"></div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-default">Send Token</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/instructions.js")"></script>
