@model PPOK.Domain.Models.LoginModel

@{
    ViewBag.Title = "Patient";
}

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 col-xs-12 login">
            <div>
                @if(ViewBag.Error != null)
                {
                    <p class="alert">
                        @ViewBag.Error
                    </p>
                }
            </div>
            <h1 class="smallResizeText">Patient Log-In</h1>
            <h4 style="text-align: center" class="LargeResizeText">
                Entering your phone number will send a code to your phone. <br />
                Use this code to log in and change how your pharmacy contacts you.
            </h4>
            <br />

            <form action="/Account/SendCode" method="post">
                <select class="form-control" name="pharmacy">
                    @foreach (var pharmacy in Model.pharmacyList)
                    {
                        <option value=@pharmacy.Code>@pharmacy.Name</option>
                    }
                </select>
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span>
                    <input type="tel" class="form-control" name="phone" placeholder="Phone number" aria-describedby="username-addon">
                </div>
                <div class="row">
                    <div class="col-xs-9"></div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-default">Send Code</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/instructions.js")"></script>
