
@{
    ViewBag.Title = "ResetPassword";
}

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 col-xs-12 login">
            <div>
                @if (ViewBag.Error != null)
                {
                    <p class="alert">
                        @ViewBag.Error
                    </p>
                }
            </div>
            <form action="/Account/ResetPassword" method="post">
                <label for="token">Enter the token we sent to you here</label>
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span>
                    <input type="text" id="token" class="form-control" name="token" placeholder="Token" aria-describedby="username-addon">
                </div>
                <h4>Enter your new password</h4>
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                    </span>
                    <input type="password" class="form-control" name="password" placeholder="Password" aria-describedby="password-addon" id="pass">
                </div>
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                    </span>
                    <input type="password" class="form-control" placeholder="Confirm Password" aria-describedby="password-addon" id="confirmPass">
                </div>
                <div class="alert alert-warning" role="alert" id="warning" hidden>
                    <p><strong>Look out!</strong> The passwords must match and be more then 6 characters long and be kinda complex.</p>
                    <p>It must have an uppercase, lowercase, number, and special character</p>
                </div>
                <div class="row">
                    <div class="col-xs-9"></div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-default" id="submit-btn" disabled>Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/my.js")
}