
@{
    ViewBag.Title = "ResetPassword";
}

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 col-xs-12 login">
            <form action="/Account/ResetPassword" method="post">
                <input type="text" name="code" value=@Request.Url.Query.Split('&').Where(x => x.Contains("code")).SingleOrDefault().Split('=')[1] hidden>
                <input type="text" name="identifier" value=@Request.Url.Query.Split('&').Where(x => x.Contains("identifier")).SingleOrDefault().Split('=')[1] hidden>
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                    </span>
                    <input type="password" class="form-control" name="password" placeholder="Password" aria-describedby="password-addon" id="pass">
                </div>
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                    </span>
                    <input type="password" class="form-control" placeholder="Confirm Password" aria-describedby="password-addon" id="confirmPass">
                </div>
                <div class="alert alert-warning" role="alert" id="warning" hidden>
                    <p><strong>Look out!</strong> The passwords must match and be more then 6 characters long and be kinda complex.</p>
                    <p>It must have an uppercase, lowercase, number, and special character</p>
                </div>
                <div class="row">
                    <div class="col-xs-9"></div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-default" id="submit-btn" disabled>Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/my.js")
}