
@{
    ViewBag.Title = "Index";
}

@section additionalCSS{
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/cancelButton.css" rel="stylesheet" />
}

<h1>Fill Prescriptions</h1>

<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Prescription Name</th>
            <th>Prescription Number</th>
            <th>Phone</th>
            <th>Fill</th>
        </tr>
    </thead>
</table>

@section scripts{
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <script src="~/PageScripts/FillPrescription.js?uuid=@Guid.NewGuid().ToString()"></script>
    <script src="~/PageScripts/CancelButton.js?uuid=@Guid.NewGuid().ToString()"></script>
}

@section inlineScript{
    <script type="text/javascript">
        $(document).ready(function () {
            window.fillPrescription.init();
        });
    </script>

}
