<!-- Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Details
                </h4>
            </div>
            <form role="form" action="/ManageBadge/Create" method="POST">
                <!-- Modal Body -->
                <div class="modal-body">

                    <div>
                        <label for="Name">Name: </label>
                        <p id="Name" name="Name">Info Here </p>
                    </div>
                    <div>
                        <label for="Phone">Phone: </label>
                        <p id="Phone" name="Phone">Phone Here </p>
                    </div>
                    <div>
                        <label for="Email">Email: </label>
                        <p id="Email" name="Email">Email Here </p>
                    </div>
                    <div>
                        <label for="CurrPreference">CurrPreference: </label>
                        <p id="CurrPreference" name="CurrPreference">CurrPreference Here </p>
                    </div>
                    <div>
                        <label for="SentType">Sent Type: </label>
                        <p id="SentType" name="SentType">SentType Here </p>
                    </div>
                    <div>
                        <label for="Number">Number: </label>
                        <p id="Number" name="Number">Number Here </p>
                    </div>
                    <div>
                        <label for="PrescName">Prescription Name: </label>
                        <p id="PrescName" name="PrescName">Prescription Name Here </p>
                    </div>
                    <div>
                        <label for="SendDate">Send Date: </label>
                        <p id="SendDate" name="SendDate">Send Date Here </p>
                    </div>
                    <div>
                        <label for="FillDate">Fill Date: </label>
                        <p id="FillDate" name="FillDate">Fill Date Here </p>
                    </div>
                    <div>
                        <label for="FillPharmacist">Fill Pharmacist: </label>
                        <p id="FillPharmacist" name="FillPharmacist">Fill pharmacist Here </p>
                    </div>
                    <div>
                        <label for="Status">Status: </label>
                        <p id="Status" name="Status">Status Here </p>
                    </div>
                    <div>
                        <label for="RejectedBy">Rejected By: </label>
                        <p id="RejectedBy" name="RejectedBy">Rejected By Here </p>
                    </div>
                    <div>
                        <label for="RejectedDate">RejectedDate</label>
                        <p id="RejectedDate" name="RejectedDate">RejectedDate Here </p>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
