body {
    background-image: url('../../Content/Test.png');
    background-size: 100% 90%;
    background-repeat: no-repeat;
}

.glyphicon {
    display: block;
    text-align: center;
    font-size: larger;
}

.datatablesCustomBack{
    background-color:#bcc0c6;
    border: .5vw solid 85888c;
    padding: 1%;
    margin: 2%;

}

.flexBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.flexButton {
    width: 16vw;
    height: 16vw;
    font-size: 2.5vw;
    border: .5vw solid #2f5ea8;
}

label.myLabel input[type="file"] {
    position: fixed;
    left: -1000px;
}

.myLabel {
    padding-top: 3.5%;
}

    .myLabel :invalid + span {
        color: #A44;
    }

    .myLabel :valid + span {
        color: #4A4;
    }


.dataTables_filter {
    float: left !important;
}

.dataTables_length {
    float: right !important;
}

.ppok {
    width: 26vw;
    margin: 0px 0 0 -13vw;
    padding-top: 4vw;
    padding-bottom: 8vw;
    left: 50%;
    position: relative;
}