@using PPOK.Domain.Types;
@model PPOK.Domain.Types.Patient
@{
    ViewBag.Title = "Manage Contact Preferences";
}

<h1>@ViewBag.Title</h1>

<form action="">
    <input type="radio" name="Preference" id="PHONE"> Phone<br>
    <input type="radio" name="Preference" id="TEXT"> Text<br>
    <input type="radio" name="Preference" id="EMAIL"> Email<br>
    <input type="radio" name="Preference" id="NONE"> Stop Contacting Me
</form>

<script type="text/javascript">
        document.getElementById("@Model.ContactPreference.ToString()").checked = true;
</script>