@{
    ViewBag.Title = "Patient Log In";
}

<h1>@ViewBag.Title</h1>

<label for="Phone">Enter Your Phone Number To Log In:</label>
<input type="text" id="Phone" name="Phone"><br />

<button id='PhoneSubmit'>Submit</button>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="@Url.Content("~/Scripts/submitPhone.js")"></script>

