@{
    ViewBag.Title = "Today's Notification";
}

<h1>@ViewBag.Title</h1>

<div>

    <div>
        @{Html.RenderAction("ReturnTable", "LandingPage");}
    </div>

    <p style="display:inline;">Last Upload Date:</p>
    <p id="demo"></p>

    <input type="file" onchange="previewFile()"><br>

</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="@Url.Content("~/Scripts/csvPicker.js")"></script>
<script src="@Url.Content("~/Scripts/returnCSV.js")"></script>