@{
    ViewBag.Title = "Today's Notification";
}

@section additionalCSS{
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/glyphAndText.css" rel="stylesheet" />
}

<h1>@ViewBag.Title</h1>

<div>

    <div style="width: 100%" class="flexBox">
        <button class="btn-primary btn flexButton">
            CSV
            <div class="glyphicon glyphicon-open"></div>
            Upload
        </button>
        <button class="btn-primary btn flexButton">
            Send
            <div class="glyphicon glyphicon-envelope"></div>
            Reminders
        </button>
        <button class="btn-primary btn flexButton">
            Refill
            <div class="glyphicon glyphicon-check"></div>
            Presriptions
        </button>
    </div>

    <div>
        @{Html.RenderAction("ReturnTable", "LandingPage");}
    </div>

    <p style="display:inline;">Last Upload Date:</p>
    <p id="demo"></p>

    <input type="file" onchange="previewFile()"><br>

</div>

@section scripts{
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="~/Content/DataTables/datatables.min.js?Build=@Guid.NewGuid().ToString()"></script>
    <script src="~/Content/DataTables/AutoFill-2.1.3/js/dataTables.autoFill.min.js?Build=@Guid.NewGuid().ToString()"></script>
    <script src="@Url.Content("~/Scripts/csvPicker.js")"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#myTable').DataTable();
        })

    </script>
}