@{
    ViewBag.Title = "Today's Notification";
}

@section additionalCSS{
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/defaultLayout.css" rel="stylesheet" />
    <link href="~/Content/loading.css" rel="stylesheet" />
}

<div>  
    <div id="Load" class="loader" style="display:none;"></div>
    <div title="Event" id="Event" class="dim" style="display:none;"></div>

    <div style="width: 100%" class="flexBox">
        <label class="myLabel btn-primary btn flexButton">
            <input type="file" onchange="previewFile();" id="file" required />
            CSV
            <span class="glyphicon glyphicon-open" id="CSVUPLOAD"></span>
            Upload
        </label>
        <button class="btn-primary btn flexButton" id="send">
            Send
            <span class="glyphicon glyphicon-envelope" id="SEND"></span>
            Reminders
        </button>
        <button class="btn-primary btn flexButton" onclick="window.location.href = '@Url.Action("Index", "FillPrescription")'">
            Refill
            <span class="glyphicon glyphicon-check"></span>
            Presriptions
        </button>
    </div>
    
    <div class="datatablesCustomBack">
        @{Html.RenderAction("ReturnTable", "LandingPage");}
    </div>

</div>

@section scripts{
    <script src="http://code.jquery.com/jquery-1.10.1.min.js?Build=@Guid.NewGuid().ToString()"></script>
    <script src="~/Content/DataTables/datatables.min.js?Build=@Guid.NewGuid().ToString()"></script>
    <script src="~/Content/DataTables/AutoFill-2.1.3/js/dataTables.autoFill.min.js?Build=@Guid.NewGuid().ToString()"></script>
    <script src="~/Scripts/csvPicker.js?Build=@Guid.NewGuid().ToString()"></script>
    <script src="~/PageScripts/LandingPage.js?Build=@Guid.NewGuid().ToString()"></script>
}